* {
    background-color: whitesmoke;
}

.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

.header {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

.botoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 13px ;
    background-color: #333;
}
